# Terraform
.terraform
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate

# Virtual Environment
.venv
venv

# Secrets
credentials.yml
.env

# CI
ci
lambda_function.zip

# Other
.DS_Store
